<!DOCTYPE html>
<html lang="ja">
<head>
  <title>GitHub contributions statistics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://unpkg.com/cal-heatmap/dist/cal-heatmap.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/cal-heatmap/dist/cal-heatmap.css">
</head>
<body>
  <h1>GitHub contributions statistics</h1>
  <form action="/">
    <label for="name">Account name:</label>
    <input type="text" name="account" value="<%= @account %>" placeholder="please input GitHub account">
    <input type="submit">
  </form>
  <% unless @account.nil? || @account.empty? %>
    <hr>
    <%= erb :_contributions %>
  <% end %>
</body>
</html>
