<!DOCTYPE html>
<html lang="ja">
<head>
  <title>GitHub contributions statistics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <form action="/">
    <input type="text" name="account" value="<%= @account %>" placeholder="please input GitHub account">
    <input type="submit">
  </form>
</body>
</html>
